<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Whatever is here</h1>
    <p>Lorem ipsum dolor <%= %> %>sit, amet consectetur adipisicing elit. Odio praesentium
            pariatur rerum. Odio, delectus sequi
            alias nesciunt enim nihil ex! Totam possimus vero excepturi corporis cumque animi. Libero, id qui.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel error odio consequuntur, itaque aliquid sint
        possimus ipsa similique rerum aspernatur? Aliquid quis ipsam dolor doloribus ullam, nemo sit id labore.</p>
</body>

</html>